


@{
    ViewData["Title"] = "Quartz 界面化任务管理演示项目";
}

<div class="row">
    <div class="col-sm-12">
        <h1>Quartz 界面化任务管理演示项目</h1>
        <p class="lead">本Demo源码：<a href="#">本Demo源码</a> </p>
        <p class="lead">作者博客：<a href="http://www.cnblogs.com/chriskwok/">http://www.cnblogs.com/chriskwok/</a></p>
        <p class="lead">联系方式：QQ 244587466 一起交流使用.net core，诚邀您加入！</p>
    </div>
</div>
